{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="content-wrapper">
        <img src="{{ "images/logo.jpg" | absURL }}" class="content-image" alt="Profile photo">
        <div class="homepage-content">
          {{.Content}}
        </div>
        <div style="clear: both;"></div>  <!-- Add this clearing div -->
      </div>
    </main>
{{ end }}
